
.user{
    margin-top: 20px;
    padding-bottom: 20px;
}
.user-dp{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}
.user-text{
    font-size: 15px;
    font-family: 'Segoe UI';
    text-align: center;
    display: block;
    color: aqua;
}