/* CSS Document */
body{
    padding: 0px;
    margin: 0px;
}
h1{
    font-family: Arial, sans-serif;
    font-weight: 400;
    height: 60px;
    width: 100%;
    background: #0026ff;
    line-height: 60px;
    color: white;
}
div{
    width: 250px;
    height: 600px;
    background: #0026ff; 
}
div a{
    text-decoration: none;
    color: white;
    padding: 20px;
    padding-right: 100px;
}
div ul li{
    list-style-type: none;
    display: block;
    margin-top: 10px;
    padding: 15px;
    border-bottom: 1px solid #ffffff;

}
div ul li:hover{
    background: #4097AD;
    transition: linear all 0.40s;
}
div ul li a::after hover{
    color: black;
}
.selected{
    background: white;
}
.selected a{
    color: black;
}
